<!--
  © 2023 (Jamie Escalante <jescalante@blueminds.cl>)
  License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
-->
{% extends "base.html" %}
{% block content %}
    <section data-particle_enable="false" data-particle-mobile-disabled="false"
                                     class="elementor-element elementor-element-346c6c76 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                     data-id="346c6c76" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-732eeb1b elementor-column elementor-col-100 elementor-top-column"
                                             data-id="732eeb1b" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-6ba6cebe elementor-widget elementor-widget-text-editor"
                                                         data-id="6ba6cebe" data-element_type="widget"
                                                         data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix"><p>a
                                                                tu disposición</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-2bd80212 elementor-widget elementor-widget-text-editor"
                                                         data-id="2bd80212" data-element_type="widget"
                                                         data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix"><p>Sin
                                                                complicaciones, visítanos o<br>contacta con nosotros</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <section data-particle_enable="false"
                                                             data-particle-mobile-disabled="false"
                                                             class="elementor-element elementor-element-12cae13a elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                             data-id="12cae13a" data-element_type="section">
                                                        <div class="elementor-container elementor-column-gap-default">
                                                            <div class="elementor-row">
                                                                <div class="elementor-element elementor-element-12f88bb5 elementor-column elementor-col-50 elementor-inner-column"
                                                                     data-id="12f88bb5" data-element_type="column">
                                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-4f12804b elementor-widget elementor-widget-image"
                                                                                 data-id="4f12804b"
                                                                                 data-element_type="widget"
                                                                                 data-widget_type="image.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-image">
                                                                                        <img src="https://movilmarket.es/wp-content/uploads/2019/08/contacto-1.svg"
                                                                                             class="attachment-full size-full"
                                                                                             alt=""></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-1de9e758 elementor-column elementor-col-50 elementor-inner-column"
                                                                     data-id="1de9e758" data-element_type="column">
                                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-14ca2831 elementor-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                                                                 data-id="14ca2831"
                                                                                 data-element_type="widget"
                                                                                 data-widget_type="icon-box.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-icon-box-wrapper">
                                                                                        <div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="29px"
                     height="39px" viewBox="0 0 29 39"><title>Oval</title><desc>Created with Sketch.</desc><g
                        id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path
                        d="M14.5,38 C17.0714286,38 28,22.2474583 28,14.6878613 C28,7.12826423 21.9558441,1 14.5,1 C7.04415588,1 1,7.12826423 1,14.6878613 C1,22.2474583 11.9285714,38 14.5,38 Z"
                        id="Oval" stroke="#2F5BEA" stroke-width="2"></path></g></svg>				</span>
                                                                                        </div>
                                                                                        <div class="elementor-icon-box-content">
                                                                                            <h3 class="elementor-icon-box-title">
                                                                                                <span>MóvilMarket Almería</span>
                                                                                            </h3>
                                                                                            <p class="elementor-icon-box-description">
                                                                                                Os atenderemos en la
                                                                                                Avda. Federico Garcia
                                                                                                Lorca, nº54. Cp 04004 -
                                                                                                Almería.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-411c85e8 elementor-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                                                                 data-id="411c85e8"
                                                                                 data-element_type="widget"
                                                                                 data-widget_type="icon-box.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-icon-box-wrapper">
                                                                                        <div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38px"
                     height="38px" viewBox="0 0 38 38"><title>phone-2</title><desc>Created with Sketch.</desc><g
                        id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                        stroke-linecap="square"><g id="phone-2" transform="translate(1.000000, 2.000000)"
                                                   stroke="#2F5BEA" stroke-width="2"><path
                        d="M26.6666667,21.6666667 L21.6666667,26.6666667 L8.33333333,13.3333333 L13.3333333,8.33333333 L5,0 L0,5 C0,21.5683333 13.4316667,35 30,35 L35,30 L26.6666667,21.6666667 Z"
                        id="Path"></path></g></g></svg>				</span>
                                                                                        </div>
                                                                                        <div class="elementor-icon-box-content">
                                                                                            <h3 class="elementor-icon-box-title">
                                                                                                <span>644 44 44 46</span>
                                                                                            </h3>
                                                                                            <p class="elementor-icon-box-description">
                                                                                                Para cualquier consulta
                                                                                                no dudes en contactar
                                                                                                con nosotros.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-254cc25b elementor-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                                                                 data-id="254cc25b"
                                                                                 data-element_type="widget"
                                                                                 data-widget_type="icon-box.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-icon-box-wrapper">
                                                                                        <div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="39px"
                     height="25px" viewBox="0 0 39 25"><title>Group 10</title><desc>Created with Sketch.</desc><g
                        id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Group-10"
                                                                                                      stroke="#2F5BEA"
                                                                                                      stroke-width="2"><rect
                        id="Rectangle" x="1" y="1" width="37" height="23"></rect><polyline id="Path-6"
                                                                                           points="1 1 19.5 17 38 1"></polyline></g></g></svg>				</span>
                                                                                        </div>
                                                                                        <div class="elementor-icon-box-content">
                                                                                            <h3 class="elementor-icon-box-title">
                                                                                                <span>dinos@movilmarket.es</span>
                                                                                            </h3>
                                                                                            <p class="elementor-icon-box-description">
                                                                                                Si lo prefieres puedes
                                                                                                contactar por email para
                                                                                                para cualquier
                                                                                                consulta.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
{% endblock %}